// ============ VARIABLES ================
// COLORES--------------------
$black: #151515;
$ligth-green: #4EE1A0;
$dark-gray: #242424;
$gray: #D9D9D0;
$white: #FFFFFF;

// FUENTES--------------------
$primary-font: 'Space Grotesk Bold', sans-serif;

// TIPOGRAFÍA--------------------
$heading-xl-font-size: 88px;
$heading-xl-line-height: 88px;
$heading-xl-spacing: -2.5ch;

$heading-l-font-size: 48px;
$heading-l-line-height: 48px;

$heading-m-font-size: 32px;
$heading-m-line-height: 32px;

// INTERFAZ--------------------
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;