.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-image: url(/img/Ovals.svg), url(/img/Oval.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 100% top 120px, right -35% top 225px;
  background-size: 50% 23%, 50% 23%;
}
.header__title {
  font-size: 2.5em;
  margin-bottom: 15px;
}
.header__title span {
  position: relative;
  display: inline-block;
}
.header__title span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #4EE1A0;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.header__title span:hover::before {
  width: 120%;
}
.header__title span:hover {
  color: #4EE1A0;
}
.header__description {
  font-size: 1.1em;
  margin-bottom: 25px;
}
.header__nav__logo {
  margin-bottom: 15px;
}
.header__nav__social {
  display: flex;
  justify-content: space-between;
}
.header__nav__profile {
  padding-top: 50px;
  margin-bottom: 15px;
  background-image: linear-gradient(to top, #242424 0%, rgba(0, 0, 0, 0) 100%);
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    text-align: start;
    padding: 20px 0 0 20PX;
    background-image: url(/img/Ovals.svg), url(/img/Oval.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 100% top 60px, right -43% top 335px;
    background-size: 50% 23%, 50% 23%;
  }
  .header__title {
    font-size: 3em;
    text-align: left;
  }
  .header__description {
    font-size: 1.1em;
    margin: 40px 0 25px 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 95%;
  }
  .header__nav__logo {
    margin-bottom: 0;
  }
  .header__nav__social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  .header__nav__profile {
    width: 550px;
    padding-top: 50px;
    margin-bottom: 0px;
    background-image: linear-gradient(to top, #242424 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    text-align: start;
    padding: 0 10%;
    background-image: url(/img/Ovals.svg), url(/img/Oval.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 100% top 60px, right -43% top 335px;
    background-size: 50% 23%, 50% 23%;
  }
  .header__title {
    font-size: 3em;
    text-align: left;
  }
  .header__description {
    font-size: 1.1em;
    margin: 40px 0 25px 0;
    padding-right: 25%;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px 0 0 120px;
    width: 78%;
  }
  .header__nav__logo {
    margin-bottom: 0;
  }
  .header__nav__social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  .header__nav__profile {
    width: 550px;
    padding-top: 120px;
    margin-bottom: 0px;
    background-image: linear-gradient(to top, #242424 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
  }
}
.footer {
  padding: 0 20px 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #242424;
}
.footer__title {
  font-size: 2.2em;
  padding: 45px 20px 20px 20px;
  color: #FFFFFF;
  font-weight: 700;
}
.footer__description {
  margin-bottom: 40px;
  color: #D9D9D0;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.footer__form .form-fields {
  width: 100%;
}
.footer__form .footer__input,
.footer__form .footer__textarea {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #D9D9D0;
  background-color: #242424;
  color: #D9D9D0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1em;
  box-sizing: border-box;
}
.footer__form .footer__input::-moz-placeholder, .footer__form .footer__textarea::-moz-placeholder {
  color: #D9D9D0;
  font-weight: 700;
  opacity: 1;
}
.footer__form .footer__input::placeholder,
.footer__form .footer__textarea::placeholder {
  color: #D9D9D0;
  font-weight: 700;
  opacity: 1;
}
.footer__form .footer__input:focus,
.footer__form .footer__textarea:focus {
  outline: none;
  border-bottom-color: #4EE1A0;
  box-shadow: 0 2px 5px #4EE1A0;
}
.footer__form .footer__textarea {
  height: 120px;
  resize: vertical;
}
.footer__form .footer__submit {
  background-color: #242424;
  align-self: flex-end;
  margin-top: 20px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.footer::before {
  content: "";
  position: absolute;
  top: 3620px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/Ovals.svg);
  background-repeat: no-repeat;
  background-position: right 100% bottom 8%;
  background-size: 50% 23%;
}

@media (min-width: 768px) {
  .footer::before {
    content: "";
    position: absolute;
    top: 1821px;
    left: -121px;
    width: 70%;
    height: 100%;
    background-image: url(/img/Ovals.svg);
    background-repeat: no-repeat;
    background-position: right 100% bottom 8%;
    background-size: 50% 23%;
  }
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  border: none;
  margin: auto 0 40px auto;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #151515;
  position: relative;
}
.skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/Ovals.svg);
  background-repeat: no-repeat;
  background-position: right 100% bottom 8%;
  background-size: 50% 23%;
  transform: scaleX(-1);
}
.skills__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 65%;
  margin-bottom: 40px;
  position: relative;
}
.skills__item-title {
  font-size: 2.1em;
  font-weight: 700;
}
.skills__item-experience {
  margin-top: 0;
  font-size: 1em;
}

.project {
  padding: 0 20px 40px 20px;
  max-width: 1200px;
  margin: 0 auto 30px auto;
}
.project .project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project .project-header__title {
  font-size: 2.2em;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.project .project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
}
.project .project-list .portfolio-item {
  padding: 20px;
  text-align: center;
}
.project .project-list .portfolio-item__image {
  width: 343px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}
.project .project-list .portfolio-item__title {
  font-size: 1.5em;
  margin: 0 0 8px 0;
  font-weight: 700;
  text-align: start;
}
.project .project-list .portfolio-item .tech-stack {
  display: flex;
  gap: 10px;
  justify-content: start;
  margin-bottom: 20px;
}
.project .project-list .portfolio-item .tech-stack__item {
  font-size: 1em;
  padding: 5px 0;
}
.project .project-list .portfolio-item .portfolio-actions {
  display: flex;
  gap: 25px;
  justify-content: start;
}

@media (min-width: 768px) {
  .skills {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .skills__list {
    text-align: left;
    width: 65%;
    margin-left: 0;
    align-self: flex-start;
  }
  .separator:last-child {
    display: none;
  }
}
@media (min-width: 1200px) {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10% 100px 10%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #151515;
    position: relative;
  }
  .skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/Ovals.svg);
    background-repeat: no-repeat;
    background-position: right 130% bottom 8%;
    background-size: 50% 23%;
    transform: scaleX(-1);
  }
  .skills__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 68%;
    margin-bottom: 40px;
    position: relative;
  }
  .skills__item-title {
    font-size: 2.1em;
    font-weight: 700;
  }
  .skills__item-experience {
    margin-top: 0;
    font-size: 1em;
  }
  .project {
    padding: 0 20px 40px 20px;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    padding: 0 8.5%;
  }
  .project .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 1.6%;
  }
  .project .project-header__title {
    font-size: 2.6em;
    font-weight: 700;
    margin: 0 0 10px 0;
  }
  .project .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;
  }
  .project .project-list .portfolio-item {
    padding: 20px;
    text-align: center;
  }
  .project .project-list .portfolio-item__image {
    width: 343px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .project .project-list .portfolio-item__title {
    font-size: 1.5em;
    margin: 0 0 8px 0;
    font-weight: 700;
    text-align: start;
  }
  .project .project-list .portfolio-item .tech-stack {
    display: flex;
    gap: 10px;
    justify-content: start;
    margin-bottom: 20px;
  }
  .project .project-list .portfolio-item .tech-stack__item {
    font-size: 1em;
    padding: 5px 0;
  }
  .project .project-list .portfolio-item .portfolio-actions {
    display: flex;
    gap: 25px;
    justify-content: start;
  }
}
.button-1 {
  display: inline-block;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  padding-bottom: 8px;
}
.button-1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #4EE1A0;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.button-1:hover {
  color: #4EE1A0;
}
.button-1:hover::after {
  width: 120%;
}

.footer__submit {
  background-color: #151515;
  border: none;
  display: inline-block;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  padding-bottom: 8px;
}
.footer__submit::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #4EE1A0;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.footer__submit:hover {
  color: #4EE1A0;
}
.footer__submit:hover::after {
  width: 120%;
}

html * {
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  background-color: #151515;
  color: #FFFFFF;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */