.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.header__title {
  font-size: 2.5em;
  margin-bottom: 15px;
}
.header__description {
  font-size: 1.1em;
  margin-bottom: 25px;
}
.header__nav__logo {
  margin-bottom: 15px;
}
.header__nav__social {
  display: flex;
  justify-content: space-between;
}
.header__nav__profile {
  padding-top: 50px;
  margin-bottom: 15px;
}

.footer {
  padding: 0 20px 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.footer__title {
  font-size: 2.2em;
  margin: 20px;
  color: #FFFFFF;
  font-weight: 700;
}
.footer__description {
  margin-bottom: 40px;
  color: #D9D9D0;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.footer__form .form-fields {
  width: 100%;
}
.footer__form .footer__input,
.footer__form .footer__textarea {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #D9D9D0;
  background-color: #151515;
  color: #D9D9D0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1em;
  box-sizing: border-box;
}
.footer__form .footer__input::-moz-placeholder, .footer__form .footer__textarea::-moz-placeholder {
  color: #D9D9D0;
  font-weight: 700;
  opacity: 1;
}
.footer__form .footer__input::placeholder,
.footer__form .footer__textarea::placeholder {
  color: #D9D9D0;
  font-weight: 700;
  opacity: 1;
}
.footer__form .footer__input:focus,
.footer__form .footer__textarea:focus {
  outline: none;
  border-bottom-color: #4EE1A0;
  box-shadow: 0 2px 5px #4EE1A0;
}
.footer__form .footer__textarea {
  height: 120px;
  resize: vertical;
}
.footer__form .footer__submit {
  align-self: flex-end;
  margin-top: 20px;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #151515;
}
.skills__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 100%;
}
.skills__item-title {
  font-size: 2.1em;
  font-weight: 700;
}
.skills__item-experience {
  margin-top: 0;
  font-size: 1em;
}

.project {
  padding: 0 20px 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.project .project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project .project-header__title {
  font-size: 2.2em;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.project .project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
}
.project .project-list .portfolio-item {
  padding: 20px;
  text-align: center;
}
.project .project-list .portfolio-item__image {
  width: 343px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}
.project .project-list .portfolio-item__title {
  font-size: 1.5em;
  margin: 0 0 8px 0;
  font-weight: 700;
  text-align: start;
}
.project .project-list .portfolio-item .tech-stack {
  display: flex;
  gap: 10px;
  justify-content: start;
  margin-bottom: 20px;
}
.project .project-list .portfolio-item .tech-stack__item {
  font-size: 1em;
  padding: 5px 0;
}
.project .project-list .portfolio-item .portfolio-actions {
  display: flex;
  gap: 25px;
  justify-content: start;
}

.button-1 {
  display: inline-block;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.button-1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #4EE1A0;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.button-1:hover {
  color: #4EE1A0;
}
.button-1:hover::after {
  width: 120%;
}

.footer__submit {
  background-color: #151515;
  border: none;
  display: inline-block;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.footer__submit::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #4EE1A0;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.footer__submit:hover {
  color: #4EE1A0;
}
.footer__submit:hover::after {
  width: 120%;
}

html * {
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  background-color: #151515;
  color: #FFFFFF;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */