@use '../abstracts/index' as abs;
@use 'sass:color';

.footer {
  padding: 0 20px 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: abs.$dark-gray;
  
  &__title {
    font-size: 2.2em;
    padding: 45px 20px 20px 20px;
    color: abs.$white;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 40px;
    color: abs.$gray;
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    // Contenedor para los inputs y textarea
    .form-fields {
      width: 100%;
    }

    .footer__input,
    .footer__textarea {
      width: 100%;
      padding: 12px 0; // Solo padding vertical para centrado del texto
      border: none; // Elimina todos los bordes
      border-bottom: 2px solid abs.$gray; // Línea inferior
      background-color: abs.$dark-gray;
      color: abs.$gray;
      font-family: abs.$primary-font;
      font-size: 1em;
      box-sizing: border-box;
      
      &::placeholder {
        color: abs.$gray; // Color del placeholder
        font-weight: 700; // Negrita para simular el efecto de las etiquetas
        opacity: 1; // Asegura que el placeholder sea completamente visible
      }
      
      &:focus {
        outline: none;
        border-bottom-color: abs.$ligth-green; 
        box-shadow: 0 2px 5px abs.$ligth-green; 
      }
    }
    
    .footer__textarea {
      height: 120px;
      resize: vertical;
    }
    
    // Alineación del botón a la derecha
    .footer__submit {
      background-color: abs.$dark-gray;
      align-self: flex-end; // Alinea el botón a la derecha
      margin-top: 20px; // Espacio arriba del botón
    }
  }
  
  &__logo {
    margin-bottom: 15px;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3620px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/Ovals.svg);
    background-repeat: no-repeat;
    background-position: right 100% bottom 8%;
    background-size: 50% 23%;
  }
}

// ====================  TABLET  ====================

@include abs.breakpoint(tablet) {
  .footer {
    &::before {
      content: "";
      position: absolute;
      top: 1821px;
      left: -121px;
      width: 70%;
      height: 100%;
      background-image: url(/img/Ovals.svg);
      background-repeat: no-repeat;
      background-position: right 100% bottom 8%;
      background-size: 50% 23%;
    }
  }
}
// ====================  DESKTOP  ====================

@include abs.breakpoint(desktop) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 60% 20% 20%);
    padding-top: 50px;
    
    .separator {
      grid-column: 1 / span 2;
      grid-row: 2 / 3;
    }

    .left {
      padding: 0 20% 0 17%;
      text-align: left;
      position: relative;
      top: -40px;

      .footer__title {
        padding-left: 0;
        font-size: 2.8em;
      }
    }

    .right {
      padding: 0 2% 0 0;

      .footer__form {
        width: 70%;
      }
    }

    &__nav {
      grid-column: 1 / span 2;
      grid-row: 3 / 4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 9%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 1821px;
      left: -121px;
      width: 70%;
      height: 100%;
      background-image: url(/img/Ovals.svg);
      background-repeat: no-repeat;
      background-position: right 100% bottom 8%;
      background-size: 50% 23%;
    }
  }
}