@use '../abstracts/index' as abs;
@use 'sass:color';

.footer {
  padding: 0 20px 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
  &__title {
    font-size: 2.2em;
    margin: 20px;
    color: abs.$white;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 40px;
    color: abs.$gray;
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; // Mayor espacio entre campos
    margin-bottom: 40px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    // Contenedor para los inputs y textarea
    .form-fields {
      width: 100%;
    }

    .footer__input,
    .footer__textarea {
      width: 100%;
      padding: 12px 0; // Solo padding vertical para centrado del texto
      border: none; // Elimina todos los bordes
      border-bottom: 2px solid abs.$gray; // Línea inferior
      background-color: abs.$black;
      color: abs.$gray;
      font-family: abs.$primary-font;
      font-size: 1em;
      box-sizing: border-box;

      &::placeholder {
        color: abs.$gray; // Color del placeholder
        font-weight: 700; // Negrita para simular el efecto de las etiquetas
        opacity: 1; // Asegura que el placeholder sea completamente visible
      }

      &:focus {
        outline: none;
        border-bottom-color: abs.$ligth-green; 
        box-shadow: 0 2px 5px abs.$ligth-green; 
      }
    }

    .footer__textarea {
      height: 120px;
      resize: vertical;
    }

    // Alineación del botón a la derecha
    .footer__submit {
      align-self: flex-end; // Alinea el botón a la derecha
      margin-top: 20px; // Espacio arriba del botón
    }
  }
  
  &__logo {
    margin-bottom: 10px;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
}