@use '../abstracts/index' as abs;
@use 'sass:color';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  padding: 20px;

  &__title {
    font-size: 2.5em;
    margin-bottom: 15px;

    span {
      position: relative;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px; // Línea debajo del texto
        transform: translateX(-50%);
        width: 100%; // Ancho inicial igual al texto
        height: 2px; // Grosor de la línea
        background-color: abs.$ligth-green; // Color inicial
        transition: width 0.3s ease, background-color 0.3s ease; // Transición suave
      }
      
      &:hover::before {
        width: 120%; // Expande al 120% en hover
      }

      &:hover {
        color: abs.$ligth-green; // Cambia el color del texto en hover
      }
    }
  }

  &__description {
    font-size: 1.1em;
    margin-bottom: 25px;
  }

  &__nav {
    &__logo {
      margin-bottom: 15px;
    }
    
    &__social {
      display: flex;
      justify-content: space-between;
    }
    
    &__profile {
      padding-top: 50px;
      margin-bottom: 15px;
    }
  }
}

// @include abs.breakpoint(tablet) {

// }