@use '../abstracts/index' as abs;
@use 'sass:color';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  padding: 20px;
  background-image: url(/img/Ovals.svg), url(/img/Oval.svg); // Añade la segunda imagen
  background-repeat: no-repeat, no-repeat; // Define el comportamiento de repetición para ambas
  background-position: right 100% top 120px, right -35% top 225px; // Posiciones diferentes para cada imagen
  background-size: 50% 23%, 50% 23%; 

  &__title {
    font-size: 2.5em;
    margin-bottom: 15px;

    span {
      position: relative;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px; // Línea debajo del texto
        transform: translateX(-50%);
        width: 100%; 
        height: 3px; 
        background-color: abs.$ligth-green; 
        transition: width 0.3s ease, background-color 0.3s ease; // Transición suave
      }
      
      &:hover::before {
        width: 120%; // Expande al 120% en hover
      }

      &:hover {
        color: abs.$ligth-green; // Cambia el color del texto en hover
      }
    }
  }

  &__description {
    font-size: 1.1em;
    margin-bottom: 25px;
  }

  &__nav {
    
    &__logo {
      margin-bottom: 15px;
    }
    
    &__social {
      display: flex;
      justify-content: space-between;
    }
    
    &__profile {
      padding-top: 50px;
      margin-bottom: 15px;
      background-image: linear-gradient(to top, abs.$dark-gray 0%, rgba(0, 0, 0, 0) 100%); // Difuminado hacia arriba
    }
  }

  // @include abs.breakpoint(tablet) {
  // }
}