@use '../abstracts/index' as abs;
@use 'sass:color';

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: abs.$black;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/Ovals.svg);
    background-repeat: no-repeat;
    background-position: right 100% bottom 8%;
    background-size: 50% 23%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } 

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 65%;
    margin-bottom: 40px;
    position: relative;
  }

  &__item-title {
    font-size: 2.1em;
    font-weight: 700;
  }

  &__item-experience {
    margin-top: 0;
    font-size: 1em;
  }
} 

.project {
  padding: 0 20px 40px 20px;
  max-width: 1200px;
  margin: 0 auto 30px auto;

  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: 2.2em;
      font-weight: 700;
      margin: 0 0 10px 0;
    }
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;

    .portfolio-item {
      padding: 20px;
      text-align: center;

      &__image {
        width: 343px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 20px;
      }

      &__title {
        font-size: 1.5em;
        margin: 0 0 8px 0;
        font-weight: 700;
        text-align: start;
      }

      .tech-stack {
        display: flex;
        gap: 10px;
        justify-content: start;
        margin-bottom: 20px;

        &__item {
          font-size: 1em;
          padding: 5px 0;
        }
      }

      .portfolio-actions {
        display: flex;
        gap: 25px;
        justify-content: start;
      }
    }
  }
}

// ====================  TABLET  ====================
@include abs.breakpoint(tablet) {
  .skills {
    justify-content: flex-start;
    align-items: flex-start;

    &__list {
      text-align: left;
      width: 65%;
      margin-left: 0;
      align-self: flex-start;
    }
  }

  .separator:last-child {
    display: none;
  }
}

// ====================  DESKTOP  ====================
@include abs.breakpoint(desktop) {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10% 100px 10%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: abs.$black;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(/img/Ovals.svg);
      background-repeat: no-repeat;
      background-position: right 130% bottom 8%;
      background-size: 50% 23%;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    } 

    &__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px;
      width: 68%;
      margin-bottom: 40px;
      position: relative;
    }

    &__item-title {
      font-size: 2.1em;
      font-weight: 700;
    }

    &__item-experience {
      margin-top: 0;
      font-size: 1em;
    }
  } 

  .project {
    padding: 0 8.5% 40px;
    max-width: 1200px;
    margin: 0 auto 50px auto;

    .project-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 0 1.6%;

      &__title {
        font-size: 2.6em;
        font-weight: 700;
        margin: 0 0 10px 0;
      }
    }

    .project-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
      justify-content: center;

      .portfolio-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        .portfolio-actions {
          position: absolute;
          top: 36%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 65%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s ease-out;
          z-index: 10;
          background: rgba(35, 35, 35, 0.9);
          backdrop-filter: blur(2px);
          border-radius: 8px;
          box-shadow: 0 10px 10px 0 rgba(22, 22, 22, 0.4) ;

          a {
            color: abs.$white;
            text-decoration: none;
            font-weight: 700;
            font-size: 1.1em;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            position: relative;
            padding: 8px 0;

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 2px;
              background-color: abs.$ligth-green;
              transition: width 0.3s ease;
              transform: translateX(-50%);
            }

            &:hover {
              color: abs.$ligth-green;

              &::before {
                width: 100%;
              }
            }
          }
        }

        &:hover .portfolio-actions {
          opacity: 1;
          visibility: visible;
        }

        &__image {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 8px;
          transition: filter 0.4s ease;
        }

        &:hover &__image {
          filter: brightness(0.5);
        }
      }
    }
  } 
} 